{% extends 'msrh/main.html' %}

{% block content %}
<h1>Gestión de Experiencia Laboral</h1>
<hr><br>
<div class="card ">
    <div class="card-header text-center bg-danger text-white">
     <h3>Borrar Experiencia Laboral</h3>
    </div>
    <div class="card-body  ">

        <div class="container col-md-7 col-lg-11">
            <br>
            <table  class="table table-light table-bordered  table-sm w-100" >
            <tr class="text-center ">
                <th>#</th>
                <th>Empresa</th>
                <th>Puesto Ocupado</th>
                <th>Fecha Desde</th>
                <th>Fecha Hasta</th>
                <th>Salario</th>
              </tr>
            </thead>
            <tbody class="">

              <tr class="text-center">
                <th>{{experienciaLaboral.id}}</th>
                <td>{{experienciaLaboral.empresa}}</td>
                <td>{{experienciaLaboral.puestoOcupado}}</td>
                <td>{{experienciaLaboral.fechaDesde}}</td>
                <td>{{experienciaLaboral.fechaHasta}}</td>
                <td>{{experienciaLaboral.salario}}</td>
              </tr>
            </tbody>
            </table>
            
            <p>¿Estás seguro que quieres borrar este registro?</p>
        
    </div>
    <hr>
            <form  method="POST"> 
                {% csrf_token %}
                <div class="modal-footer">
                <div class="bd-example">
                <a href="{% url 'experienciaLaboral' %}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-success">Confirmar</button>
            </div>
        </div>
            </form>   
    </div>
  </div>
{% endblock %}