{% extends 'msrh/main.html' %}

{% block content %}
<h1>Gestión de Empleados</h1>
<hr>
<br>
<div class="card col-md-8 offset-md-2">
    <div class="card-header text-center bg-primary text-white">
     <h3>Agregar Nuevo Empleado</h3>
    </div>
    <div class="card-body  ">

        <div class="container col-md-7 col-lg-11">
          
        <form  method="POST"> 
            {% csrf_token %}
        <div class="row g-4">
            <div class="col-6">
            {{form.nombre.label}}
            {{form.nombre}}
            </div>
            <div class="col-6">
            {{form.cedula.label}}
            {{form.cedula}}
            </div>
        </div>
        <br>
        <div class="row g-3">
            <div class="col-md-4">
            {{form.fechaIngreso.label}}
            {{form.fechaIngreso}}
            </div>
                <div class="col-md-5">
                    {{form.departamento.label}}
                    {{form.departamento}}
                </div>
                <div class="col-md-3">
                    {{form.puesto.label}}
                    {{form.puesto}}
                </div>
            </div>
            <br>
            <div class="row g-3">
            <div class="col-md-4">
                {{form.salarioMensual.label}}
                {{form.salarioMensual}}
            </div>
            <div class="col-md-5">
                {{form.estado.label}}
                {{form.estado}}
            </div>
            </div> 
                <br>
            <div class="modal-footer">
                <div class="bd-example">
            <a href="{% url 'empleado' %}" type="button" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-success" type="submit">Agregar</button>
        </div>
            </div>
            
        </form>
    </div>   
    </div>
  </div>
{% endblock %}