{% extends 'msrh/main.html' %}

{% block content %}
<h1>Gestión de Candidato</h1>
<hr>
<br>

<div class="card col-md-8 offset-md-2">
    <div class="card-header text-center bg-primary text-white">
     <h3>Editar Candidato</h3>
    </div>
    <div class="card-body  ">

        <div class="container col-md-7 col-lg-11">
          
        <form  method="POST"> 
            {% csrf_token %}
            {{form.as_p}}
            
            <div class="modal-footer">
                <div class="bd-example">
            <a href="{% url 'candidato' %}" type="button" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-primary" type="submit">Actualizar</button>
        </div>
            </div>
        </form>
    </div>   
    </div>
  </div>


{% endblock %}